.row {
  max-width: $grid-width;
  background-color: rgba(74, 253, 57, 0.904);
  margin: 0 auto;
  margin-bottom: $gutter-horizontal;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2); /* #{variablename scss} */
    background-color: rgb(235, 102, 41);
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
//https://css-tricks.com/all-about-floats/